html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.thank-you-message {
    text-align: center;
    width: calc(100% - .5rem);
    max-width: 20rem;
}

p { 
    line-height: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    border: .1px solid lightgrey;
}

p a {
    color: #212529;
}